# Preprocessing

I now have my data pulled from the various APIs. I want to take a closer look at what's contained in these datasets and sort through null values, which results I'll be keeping as features, and look for duplicate/repeated data that may be able to be imputed if I have missing information.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re
import json
import pickle

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
with open('./Assets_&_Data/omdb_show_metadata.json') as f:
    omdb_shows = json.load(f)

In [3]:
with open('./Assets_&_Data/show_episode_data.json') as f:
    show_eps = json.load(f)

In [4]:
with open('./Assets_&_Data/tmdb_series_dict.json') as f:
    tmdb_data = json.load(f)

In [5]:
with open('./Assets_&_Data/tvdb_show_info.json') as f:
    tvdb_data = json.load(f)

# OMDB data to Dataframe

As a first step, I will want to throw the OMDB API data into a dataframe to evaluate the features, missing values, etc. and prepare it to be merged with the other APIs' data.

In [6]:
omdb_df = pd.DataFrame(omdb_shows)
omdb_df = omdb_df.T

In [7]:
omdb_df.head(2)

,actors,awards,box_office,country,director,dvd,genre,imdb_id,imdb_rating,imdb_votes,...,tomato_rotten,tomato_url,tomato_user_meter,tomato_user_rating,tomato_user_reviews,total_seasons,type,website,writer,year
Game of Thrones,"Peter Dinklage, Lena Headey, Emilia Clarke, Ki...",Won 1 Golden Globe. Another 273 wins & 454 nom...,N/A,"USA, UK",N/A,N/A,"Action, Adventure, Drama, Fantasy, Romance",tt0944947,9.5,"1,361,235",...,N/A,N/A,N/A,N/A,N/A,8,series,N/A,"David Benioff, D.B. Weiss",2011–
Westworld,"Evan Rachel Wood, Thandie Newton, Jeffrey Wrig...",Nominated for 3 Golden Globes. Another 29 wins...,N/A,USA,N/A,N/A,"Drama, Mystery, Sci-Fi",tt0475784,8.9,"307,642",...,N/A,http://www.rottentomatoes.com/m/westworld-2009/,82,3.8,566,3,series,N/A,N/A,2016–

In [8]:
omdb_df.shape

(3760, 37)

In [9]:
omdb_df.isnull().sum()

actors                  844
awards                  844
box_office              844
country                 844
director                844
dvd                     844
genre                   844
imdb_id                 844
imdb_rating             844
imdb_votes              844
language                844
metascore               844
plot                    844
poster                  844
production              844
rated                   844
ratings                 844
released                844
response                844
runtime                 844
title                   844
tomato_consensus        844
tomato_fresh            844
tomato_image            844
tomato_meter            844
tomato_rating           844
tomato_reviews          844
tomato_rotten           844
tomato_url              844
tomato_user_meter       844
tomato_user_rating      844
tomato_user_reviews     844
total_seasons          1524
type                    844
website                 844
writer                  844
year                    844
dtype: int64

There are a lot of nulls here, but I don't want to drop anything yet until I have them all merged into a single dataframe to determine if information from another API can be used to fill in missing data.

For now, I'll just be dropping columns that I are not relevant to TV shows, as well as the tomato_ columns.

In [10]:
omdb_df.drop(['box_office', 'country', 'dvd', 'poster', 
              'tomato_consensus', 'tomato_fresh', 'tomato_image', 
              'tomato_meter', 'tomato_rating', 'tomato_reviews',
              'tomato_rotten', 'tomato_url', 'tomato_user_meter', 
              'tomato_user_rating', 'tomato_user_reviews', 'website',
              'metascore', 'response'],
             axis=1,
             inplace=True)

In [11]:
omdb_df.head(3)

,actors,awards,director,genre,imdb_id,imdb_rating,imdb_votes,language,plot,production,rated,ratings,released,runtime,title,total_seasons,type,writer,year
Game of Thrones,"Peter Dinklage, Lena Headey, Emilia Clarke, Ki...",Won 1 Golden Globe. Another 273 wins & 454 nom...,N/A,"Action, Adventure, Drama, Fantasy, Romance",tt0944947,9.5,"1,361,235",English,"In the mythical continent of Westeros, several...",N/A,TV-MA,"[{'source': 'Internet Movie Database', 'value'...",17 Apr 2011,57 min,Game of Thrones,8,series,"David Benioff, D.B. Weiss",2011–
Westworld,"Evan Rachel Wood, Thandie Newton, Jeffrey Wrig...",Nominated for 3 Golden Globes. Another 29 wins...,N/A,"Drama, Mystery, Sci-Fi",tt0475784,8.9,"307,642",English,Westworld isn't your typical amusement park. I...,N/A,TV-MA,"[{'source': 'Internet Movie Database', 'value'...",02 Oct 2016,62 min,Westworld,3,series,N/A,2016–
Big Little Lies,"Reese Witherspoon, Nicole Kidman, Shailene Woo...",Won 4 Golden Globes. Another 42 wins & 48 nomi...,N/A,"Crime, Drama, Mystery",tt3920596,8.6,"86,060",English,While Madeline and Celeste take new in town si...,N/A,TV-MA,"[{'source': 'Internet Movie Database', 'value'...",19 Feb 2017,60 min,Big Little Lies,2,series,David E. Kelley,2017–

In [12]:
omdb_df.columns

Index(['actors', 'awards', 'director', 'genre', 'imdb_id', 'imdb_rating',
       'imdb_votes', 'language', 'plot', 'production', 'rated', 'ratings',
       'released', 'runtime', 'title', 'total_seasons', 'type', 'writer',
       'year'],
      dtype='object')

# TMDB data to Dataframe

Next is the same thing as above with the TMDB data.

In [13]:
tmdb_df = pd.DataFrame(tmdb_data)

In [14]:
tmdb_df = tmdb_df.T

In [15]:
tmdb_df.drop(['backdrop_path', 'homepage'], axis=1, inplace=True)

In [16]:
tmdb_df.shape

(2859, 26)

In [17]:
tmdb_df.head(3)

,created_by,episode_run_time,first_air_date,genres,id,in_production,languages,last_air_date,last_episode_to_air,name,...,original_name,overview,popularity,poster_path,production_companies,seasons,status,type,vote_average,vote_count
Game of Thrones,"[{'id': 9813, 'credit_id': '5256c8c219c2956ff6...",[60],2011-04-17,"[{'id': 10765, 'name': 'Sci-Fi & Fantasy'}, {'...",1399,True,"[es, en, de]",2017-08-27,"{'air_date': '2017-08-27', 'episode_number': 7...",Game of Thrones,...,Game of Thrones,Seven noble families fight for control of the ...,68.452,/gwPSoYUHAKmdyVywgLpKKA4BjRr.jpg,"[{'id': 76043, 'logo_path': '/9RO2vbQ67otPrBLX...","[{'air_date': '2010-12-05', 'episode_count': 1...",Returning Series,Scripted,8.2,4923
Westworld,"[{'id': 527, 'credit_id': '55a6280992514109ab0...",[60],2016-10-02,"[{'id': 37, 'name': 'Western'}, {'id': 878, 'n...",63247,True,[en],2018-06-24,"{'air_date': '2018-06-24', 'episode_number': 1...",Westworld,...,Westworld,A dark odyssey about the dawn of artificial co...,35.971,/6aj09UTMQNyfSfk0ZX8rYOEsXL2.jpg,"[{'id': 1957, 'logo_path': '/nmcNfPq03WLtOyufJ...","[{'air_date': '2016-10-02', 'episode_count': 1...",Returning Series,Scripted,8.1,1625
Big Little Lies,"[{'id': 59650, 'credit_id': '57168a7f92514161f...","[50, 60]",2017-02-19,"[{'id': 18, 'name': 'Drama'}]",66292,True,[en],2017-04-02,"{'air_date': '2017-04-02', 'episode_number': 7...",Big Little Lies,...,Big Little Lies,"Subversive, darkly comedic drama Big Little Li...",14.222,/6nxTO2tYDBR9twPWlDC3I1eXUnY.jpg,"[{'id': 55027, 'logo_path': None, 'name': 'Dav...","[{'air_date': '2017-02-19', 'episode_count': 7...",Returning Series,Scripted,7.9,277

In [18]:
tmdb_df.columns

Index(['created_by', 'episode_run_time', 'first_air_date', 'genres', 'id',
       'in_production', 'languages', 'last_air_date', 'last_episode_to_air',
       'name', 'networks', 'next_episode_to_air', 'number_of_episodes',
       'number_of_seasons', 'origin_country', 'original_language',
       'original_name', 'overview', 'popularity', 'poster_path',
       'production_companies', 'seasons', 'status', 'type', 'vote_average',
       'vote_count'],
      dtype='object')

In [19]:
tmdb_df.isnull().sum()

created_by                 0
episode_run_time           0
first_air_date           300
genres                     0
id                         0
in_production              0
languages                  0
last_air_date            330
last_episode_to_air      330
name                       0
networks                   0
next_episode_to_air     2751
number_of_episodes        19
number_of_seasons          0
origin_country             0
original_language          0
original_name              0
overview                   0
popularity                 0
poster_path              765
production_companies       0
seasons                    0
status                     0
type                       0
vote_average               0
vote_count                 0
dtype: int64

As with the above, I mainly want to drop columns that do not appear to be relevant to TV shows rather than any nulls.

In [20]:
tmdb_df.drop(['last_episode_to_air', 
              'next_episode_to_air', 
              'origin_country', 
              'poster_path', 
              'first_air_date', 
              'last_air_date'
             ], axis=1, inplace=True)

In [21]:
tmdb_df.type.value_counts()

Scripted       2602
Reality         114
Miniseries       70
Talk Show        38
Documentary      18
News             15
Video             2
Name: type, dtype: int64

# TVDB data to Dataframe

A quick cleanup step necessary is to break the 'data' values out of the main dictionary, so I'll be making a new dictionary that grabs these.

In [22]:
tmdb_df.isnull().sum()

created_by               0
episode_run_time         0
genres                   0
id                       0
in_production            0
languages                0
name                     0
networks                 0
number_of_episodes      19
number_of_seasons        0
original_language        0
original_name            0
overview                 0
popularity               0
production_companies     0
seasons                  0
status                   0
type                     0
vote_average             0
vote_count               0
dtype: int64

In [23]:
tvdb_new = {}
for i in tvdb_data:
    tvdb_new[i] = tvdb_data[i]['data']

In [24]:
tvdb_df = pd.DataFrame.from_dict(tvdb_new)
tvdb_df.shape

(23, 2701)

In [25]:
tvdb_df.head(3)

,Game of Thrones,Westworld,Big Little Lies,The Deuce,Succession,Curb Your Enthusiasm,Veep,Silicon Valley,Ballers,High Maintenance,...,The Hollywood Palace,The Johnny Cash Show,The Lawrence Welk Show,The Wayne Brady Show,This Is Tom Jones,Trust Us with Your Life,Turn-On,Where the Action Is,Muppets Tonight,Ripley's Believe It or Not
added,2009-10-26 16:51:46,2015-06-10 14:07:01,2016-01-09 10:40:03,2016-09-29 05:27:29,2017-11-21 18:00:19,,2011-03-07 05:38:06,2014-01-10 11:18:03,2014-05-14 14:58:00,2013-08-02 07:05:31,...,,,,,,2012-05-07 03:40:03,,,,
addedBy,10072,367373,401737,451111,460245,None,322581,346515,4696,391210,...,None,None,None,None,None,295381,None,None,None,None
airsDayOfWeek,Sunday,Sunday,Sunday,Sunday,Sunday,Sunday,Sunday,Sunday,Sunday,,...,Saturday,,,,,Tuesday,,,,Wednesday

In [26]:
tvdb_df = tvdb_df.T

In [27]:
tvdb_df.head(3)

,added,addedBy,airsDayOfWeek,airsTime,aliases,banner,firstAired,genre,id,imdbId,...,overview,rating,runtime,seriesId,seriesName,siteRating,siteRatingCount,slug,status,zap2itId
Game of Thrones,2009-10-26 16:51:46,10072,Sunday,9:00 PM,[],graphical/121361-g19.jpg,2011-04-17,"[Adventure, Drama, Fantasy]",121361,tt0944947,...,Seven noble families fight for control of the ...,TV-MA,55,,Game of Thrones,9.5,1781,game-of-thrones,Continuing,
Westworld,2015-06-10 14:07:01,367373,Sunday,9:00 PM,[],graphical/296762-g11.jpg,2016-10-02,"[Adventure, Drama, Science-Fiction, Western]",296762,tt0475784,...,Westworld is a dark odyssey about the dawn of ...,TV-MA,60,194892,Westworld,8.9,110,westworld,Continuing,SH02476964
Big Little Lies,2016-01-09 10:40:03,401737,Sunday,9:00 PM,[],graphical/305719-g2.jpg,2017-02-19,"[Crime, Drama, Mystery]",305719,tt3920596,...,"Subversive, darkly comedic drama Big Little Li...",TV-MA,50,203070,Big Little Lies,8.9,22,big-little-lies,Continuing,EP02541094

In [28]:
tvdb_df.columns

Index(['added', 'addedBy', 'airsDayOfWeek', 'airsTime', 'aliases', 'banner',
       'firstAired', 'genre', 'id', 'imdbId', 'lastUpdated', 'network',
       'networkId', 'overview', 'rating', 'runtime', 'seriesId', 'seriesName',
       'siteRating', 'siteRatingCount', 'slug', 'status', 'zap2itId'],
      dtype='object')

Dropping some of the unrelated features once again.

In [29]:
tvdb_df.drop(['addedBy', 
              'aliases', 
              'banner', 
              'lastUpdated', 
              'networkId', 
              'zap2itId', 
              'added', 
              'slug'], axis=1, inplace=True)

In [30]:
tvdb_df.head(3)

,airsDayOfWeek,airsTime,firstAired,genre,id,imdbId,network,overview,rating,runtime,seriesId,seriesName,siteRating,siteRatingCount,status
Game of Thrones,Sunday,9:00 PM,2011-04-17,"[Adventure, Drama, Fantasy]",121361,tt0944947,HBO,Seven noble families fight for control of the ...,TV-MA,55,,Game of Thrones,9.5,1781,Continuing
Westworld,Sunday,9:00 PM,2016-10-02,"[Adventure, Drama, Science-Fiction, Western]",296762,tt0475784,HBO,Westworld is a dark odyssey about the dawn of ...,TV-MA,60,194892,Westworld,8.9,110,Continuing
Big Little Lies,Sunday,9:00 PM,2017-02-19,"[Crime, Drama, Mystery]",305719,tt3920596,HBO,"Subversive, darkly comedic drama Big Little Li...",TV-MA,50,203070,Big Little Lies,8.9,22,Continuing

In [31]:
tvdb_df.isnull().sum()

airsDayOfWeek        0
airsTime             0
firstAired           0
genre                0
id                   0
imdbId               0
network              0
overview           164
rating               0
runtime              0
seriesId             0
seriesName           0
siteRating           0
siteRatingCount      0
status               0
dtype: int64

In [32]:
tvdb_df.shape

(2701, 15)

# Combining Dataframes

With the dataframes for the individual shows ready, I can merge these all into a single Dataframe. Because each of these APIs contain at least one feature/column that I will want to integrate into my model, I will only be looking for values/shows that are present in all three dataframes. If any shows are missing entirely from one of the Dataframes, I will end up dropping that show regardless.

In [33]:
series_df = pd.merge(tvdb_df, tmdb_df, left_index=True, right_index=True)

In [34]:
series_df = pd.merge(series_df, omdb_df, left_index=True, right_index=True)

In [35]:
series_df.head(3)

,airsDayOfWeek,airsTime,firstAired,genre_x,id_x,imdbId,network,overview_x,rating,runtime_x,...,production,rated,ratings,released,runtime_y,title,total_seasons,type_y,writer,year
Game of Thrones,Sunday,9:00 PM,2011-04-17,"[Adventure, Drama, Fantasy]",121361,tt0944947,HBO,Seven noble families fight for control of the ...,TV-MA,55,...,N/A,TV-MA,"[{'source': 'Internet Movie Database', 'value'...",17 Apr 2011,57 min,Game of Thrones,8,series,"David Benioff, D.B. Weiss",2011–
Westworld,Sunday,9:00 PM,2016-10-02,"[Adventure, Drama, Science-Fiction, Western]",296762,tt0475784,HBO,Westworld is a dark odyssey about the dawn of ...,TV-MA,60,...,N/A,TV-MA,"[{'source': 'Internet Movie Database', 'value'...",02 Oct 2016,62 min,Westworld,3,series,N/A,2016–
Big Little Lies,Sunday,9:00 PM,2017-02-19,"[Crime, Drama, Mystery]",305719,tt3920596,HBO,"Subversive, darkly comedic drama Big Little Li...",TV-MA,50,...,N/A,TV-MA,"[{'source': 'Internet Movie Database', 'value'...",19 Feb 2017,60 min,Big Little Lies,2,series,David E. Kelley,2017–

In [36]:
series_df.isnull().sum()

airsDayOfWeek             0
airsTime                  0
firstAired                0
genre_x                   0
id_x                      0
imdbId                    0
network                   0
overview_x              157
rating                    0
runtime_x                 0
seriesId                  0
seriesName                0
siteRating                0
siteRatingCount           0
status_x                  0
created_by                0
episode_run_time          0
genres                    0
id_y                      0
in_production             0
languages                 0
name                      0
networks                  0
number_of_episodes       13
number_of_seasons         0
original_language         0
original_name             0
overview_y                0
popularity                0
production_companies      0
seasons                   0
status_y                  0
type_x                    0
vote_average              0
vote_count                0
actors                   84
awards                   84
director                 84
genre_y                  84
imdb_id                  84
imdb_rating              84
imdb_votes               84
language                 84
plot                     84
production               84
rated                    84
ratings                  84
released                 84
runtime_y                84
title                    84
total_seasons           579
type_y                   84
writer                   84
year                     84
dtype: int64

In [37]:
series_df.dtypes

airsDayOfWeek           object
airsTime                object
firstAired              object
genre_x                 object
id_x                    object
imdbId                  object
network                 object
overview_x              object
rating                  object
runtime_x               object
seriesId                object
seriesName              object
siteRating              object
siteRatingCount         object
status_x                object
created_by              object
episode_run_time        object
genres                  object
id_y                    object
in_production           object
languages               object
name                    object
networks                object
number_of_episodes      object
number_of_seasons       object
original_language       object
original_name           object
overview_y              object
popularity              object
production_companies    object
seasons                 object
status_y                object
type_x                  object
vote_average            object
vote_count              object
actors                  object
awards                  object
director                object
genre_y                 object
imdb_id                 object
imdb_rating             object
imdb_votes              object
language                object
plot                    object
production              object
rated                   object
ratings                 object
released                object
runtime_y               object
title                   object
total_seasons           object
type_y                  object
writer                  object
year                    object
dtype: object

In [38]:
series_df.columns

Index(['airsDayOfWeek', 'airsTime', 'firstAired', 'genre_x', 'id_x', 'imdbId',
       'network', 'overview_x', 'rating', 'runtime_x', 'seriesId',
       'seriesName', 'siteRating', 'siteRatingCount', 'status_x', 'created_by',
       'episode_run_time', 'genres', 'id_y', 'in_production', 'languages',
       'name', 'networks', 'number_of_episodes', 'number_of_seasons',
       'original_language', 'original_name', 'overview_y', 'popularity',
       'production_companies', 'seasons', 'status_y', 'type_x', 'vote_average',
       'vote_count', 'actors', 'awards', 'director', 'genre_y', 'imdb_id',
       'imdb_rating', 'imdb_votes', 'language', 'plot', 'production', 'rated',
       'ratings', 'released', 'runtime_y', 'title', 'total_seasons', 'type_y',
       'writer', 'year'],
      dtype='object')

There are several columns that are present in multiple dataframes, so I'll have to decide whether to drop them or combine them.

# Planning Features

I believe that airdate and timeslot will be some of the largest predictors for a show's success, as it would directly affect how many people are viewing at a given time.

In [39]:
series_df['airsDayOfWeek'].value_counts()

             996
Sunday       263
Tuesday      238
Wednesday    219
Saturday     206
Friday       199
Monday       179
Thursday     160
Daily        133
Weekdays       7
Name: airsDayOfWeek, dtype: int64

In [40]:
len(series_df[series_df['released'] == 0])

0

## Plot showing correlation between airdate/airtime/runtime and IMDB botes

It appears that the airing day of the week is missing roughly half of the total observations, while the 'released' column is missing significantly fewer observations. I can determine the original airing day of week based on this released date, although it wouldn't be clear if the show had aired for every day of the week.

In [41]:
series_df['airsTime'].value_counts()

               1118
9:00 PM         234
8:00 PM         197
10:00 PM        179
9:30 PM          69
8:30 PM          67
21:00            54
22:00            37
10:30 PM         36
20:00            33
11:00 PM         22
7:30 PM          21
12:00 AM         20
11:30 PM         20
21:30            20
20:30            17
7:00 PM          16
9pm              12
10:00 AM         11
11:00 AM         10
10:00 pm          9
9:30 AM           9
19:00             8
2:00 PM           8
12:15 AM          7
9:00 AM           7
9:00PM            7
11:30 AM          6
6:30 PM           6
7:00 AM           6
               ...
8:30PM            1
20:50             1
9:00 PM EST       1
8:00am            1
23:45             1
5:15 PM           1
9:30PM            1
1:00 AM           1
4am               1
6:30 AM           1
7:30              1
09:00             1
10pm              1
07:30 PM          1
9 PM              1
20:15             1
7:30am            1
7:15pm            1
11:45 AM          1
09:00pm           1
9:30 pm           1
8pm               1
2:30 PM           1
1:00PM            1
9:40 PM           1
18.45             1
06:30             1
9:55 PM           1
4:24 AM           1
8:30 am           1
Name: airsTime, Length: 197, dtype: int64

The above two columns will require a lot of cleanup, but will hopefully be useable.

In [42]:
series_df['rating'].value_counts()

         1447
TV-14     402
TV-PG     291
TV-MA     197
TV-Y7      93
TV-G       88
TV-Y       82
Name: rating, dtype: int64

The ratings also have about half of their observations as blanks, but unfortunately there is no other source for this information for me to try and impute data, and half of all observations is too siginficant to try and use a null/unknown placeholder when dummying this. It will simply have to be dropped.

In [43]:
series_df.drop(['firstAired', 'runtime_y', 
                'languages', 'networks', 
                'siteRating', 'siteRatingCount',
                'episode_run_time', 'original_language', 'original_name',
                'popularity', 'language', 'production', 'production_companies',
                'imdbId', ], axis=1, inplace=True)

In [44]:
series_df['genre_y']
series_df['genre_x']
series_df['genres']

Game of Thrones                         [{'id': 10765, 'name': 'Sci-Fi & Fantasy'}, {'...
Westworld                               [{'id': 37, 'name': 'Western'}, {'id': 878, 'n...
Big Little Lies                                             [{'id': 18, 'name': 'Drama'}]
The Deuce                                                   [{'id': 18, 'name': 'Drama'}]
Succession                                                  [{'id': 18, 'name': 'Drama'}]
Curb Your Enthusiasm                                       [{'id': 35, 'name': 'Comedy'}]
Veep                                                       [{'id': 35, 'name': 'Comedy'}]
Silicon Valley                                             [{'id': 35, 'name': 'Comedy'}]
Ballers                                 [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...
High Maintenance                                           [{'id': 35, 'name': 'Comedy'}]
Divorce                                                    [{'id': 35, 'name': 'Comedy'}]
Insecure                                [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
Tracey Ullman's Show                                       [{'id': 35, 'name': 'Comedy'}]
Crashing                                                   [{'id': 35, 'name': 'Comedy'}]
Barry                                                      [{'id': 35, 'name': 'Comedy'}]
Random Acts of Flyness                                     [{'id': 35, 'name': 'Comedy'}]
Camping                                                    [{'id': 35, 'name': 'Comedy'}]
True Detective                                              [{'id': 18, 'name': 'Drama'}]
Room 104                                [{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...
Animals.                                [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
Sesame Street                           [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
Esme & Roy                              [{'id': 10762, 'name': 'Kids'}, {'id': 16, 'na...
Real Sports with Bryant Gumbel                            [{'id': 10763, 'name': 'News'}]
Hard Knocks                             [{'id': 10764, 'name': 'Reality'}, {'id': 99, ...
Masterclass                                                                            []
Vice                                    [{'id': 99, 'name': 'Documentary'}, {'id': 107...
Wyatt Cenac's Problem Areas             [{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...
Real Time with Bill Maher               [{'id': 35, 'name': 'Comedy'}, {'id': 10767, '...
Last Week Tonight with John Oliver      [{'id': 10767, 'name': 'Talk'}, {'id': 35, 'na...
Vice News Tonight                                         [{'id': 10763, 'name': 'News'}]
                                                              ...
The Nurses                                                  [{'id': 18, 'name': 'Drama'}]
The Young Marrieds                                                                     []
Monday Night Football                                                                  []
Animals, Animals, Animals               [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
Kids Are People Too                                                                    []
Make a Wish                                                                            []
Bachelor in Paradise: After Paradise                                                   []
The Chew                                                                               []
Home                                    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
The Dick Cavett Show                                                                   []
The Revolution                                        [{'id': 99, 'name': 'Documentary'}]
American Bandstand                                                                     []
Captain & Tennille                                         [{'id': 35, 'name': 'Comedy'}]
Cos                                                        [{'id': 35, 'name': 'Comedy'}]
Dolly                                                      [{'id': 35, 'name': 'Comedy'}]
Donny & Marie                                                                          []
Fridays                                                    [{'id': 35, 'name': 'Comedy'}]
The Brady Bunch Hour                                       [{'id': 35, 'name': 'Comedy'}]
The Dana Carvey Show                                       [{'id': 35, 'name': 'Comedy'}]
The Frank Sinatra Show                                   [{'id': 10402, 'name': 'Music'}]
The Hollywood Palace                                                                   []
The Johnny Cash Show                                      [{'id': 10767, 'name': 'Talk'}]
The Lawrence Welk Show                                                                 []
The Wayne Brady Show                                       [{'id': 35, 'name': 'Comedy'}]
This Is Tom Jones                                                                      []
Trust Us with Your Life                                    [{'id': 35, 'name': 'Comedy'}]
Turn-On                                                                                []
Where the Action Is                                                                    []
Muppets Tonight                         [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
Ripley's Believe It or Not                                                             []
Name: genres, Length: 2600, dtype: object

In [45]:
series_df.drop(['genre_x', 'genres'], axis=1, inplace=True)

The genres don't appear too dissimilar and are represented 3 times, so I'll drop 2 of them.

I will now get rid of any 'movie' types that have made it this far into the data collection and cleaning process, as well as some other repeated features.

In [46]:
series_df['type_y'].value_counts()

series    2021
movie      495
Name: type_y, dtype: int64

In [47]:
series_df.drop(['created_by', 'year', 'director', 'total_seasons', 
                'seasons', 'vote_average', 'vote_count', 
                'id_x', 'id_y', 'title', 'seriesId', 'seriesName', 
                'ratings', 'status_x', 'in_production'], 
               axis=1, 
               inplace=True)

In [48]:
series_df = series_df.replace('N/A', 0)

In [49]:
series_df = series_df[series_df['type_y'] == 'series']
series_df.drop('type_y', axis=1, inplace=True)

I can also drop shows that have no IMDB rating, represented in my dataframe as 0s, as well as shows with no indication for number of episodes, again present as 0s.

In [50]:
series_df['awards'][series_df['awards'] != 0] = 1

In [51]:
series_df = series_df[series_df['imdb_rating'] != 0]

In [52]:
series_df = series_df[series_df['number_of_episodes'] != 0]

In [53]:
series_df.drop(['rated', 'name'], axis=1, inplace=True)

In [54]:
series_df.shape

(1915, 20)

As a last step in this initial preprocessing stage, I can turn the awards column to be categorical - the value will be 0 for shows that never got a nomination or an award, and a 1 for those who have.

In [55]:
series_df['awards'][series_df['awards'] != 0] = 1

In [56]:
with open('./Assets_&_Data/series_df_full.pickle', 'wb') as f:
    pickle.dump(series_df, f)

# Next Steps

In the following notebook, I will want to continue with the preprocessing by cleaning up the data types, missing values, etc.